body {
    background-color: rgb(19, 19, 19);
}
h1 {
    font-family: 'Orbitron', sans-serif;
}
hr {
    height:5px;
    border-width:0;
    background-color:#2c2c2c;
  }
 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 .top-img {
    position: absolute;
    left: 0;
    opacity: 0;
 }
 .top-img:hover {
  opacity: 100;
 }

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
